{% extends 'base_layout.html' %}

{% block content %}
<div class="section">
    <div class="columns">
        <div class="column is-8">
            <div class="box">
                {% for item in cart_items %}
                <div class="modal {% if confirm_delete %} is-active {% endif %}">
                    <div class="modal-background"></div>
                    <div class="modal-content">
                        <div class="box has-text-centered">
                            <div class="title">
                                Подтвердите удаление
                            </div>
                            <a class="button is-success"
                                href="{% url 'store:cart' %}?confirm=True&pk={{item.pk}}">Подтвердить</a>
                            <button class="button">Отмена</button>
                        </div>
                    </div>
                    <button class="modal-close is-large"></button>
                </div>
                <div class="columns">
                    <div class="column is-2">
                        <figure class="image is-128x128">
                            <img src="{{item.product.image.url}}">
                        </figure>
                    </div>
                    <div class="column is-4">
                        <div class="title is-5">{{ item.product.name }}</div>
                        <div class="subtitle is-7 has-text-grey">
                            {{item.product.category}}
                        </div>
                        <div class="buttons">
                            <button class="button">В избранное</button>
                            <a href="{% url 'store:cart' %}?action=delete" class="button is-danger">Удалить</a>
                        </div>
                    </div>
                    <div class="column is-2">
                        {{item.total_price}} р
                    </div>
                    <div class="column">
                        <div class="field has-addons">
                            <div class="control">
                                <a href="{% url 'store:cart' %}?action=decrement&pk={{item.pk}}" class="button" {% if item.quantity == 1 %} disabled {% endif %}>
                                    <div class="title is-3">-</div>
                                </a>
                            </div>
                            <div class="control">
                                <button class="button">
                                    {{item.quantity}}
                                </button>
                            </div>
                            <div class="control">
                                <a href="{% url 'store:cart' %}?action=increment&pk={{item.pk}}" class="button">
                                    <div class="title is-3">+</div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                {% endfor %}
            </div>

        </div>
        <div class="column">
            <div class="box">
                
                <hr>
                <div class="block">
                    <div class="title is-5">Ваши товары</div>
                    <div class="subtitle is-6 is-flex is-justify-content-space-between">
                        <span>Товары</span>
                        <span>(общее количество товаров)</span>
                    </div>
                    <div class="subtitle is-6 is-flex is-justify-content-space-between">
                        <span>Общая сумма</span>
                        <span>1231232</span>
                    </div>
                </div>
                {% if cart_items %}
                <a class="button is-success is-fullwidth" href="{% url 'store:create_order' %}">
                    Перейти к оформлению
                </a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}